{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="jumbotron ">
                    <h1 class="display-4">Appointment</h1>
                    <p class="lead">The detail for Patient </p>
                    <hr class="my-4">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{appointment | crispy}}
                        
                        <div>

                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                  </div>   
            </div>
            <div class="col-4" ml-2>
                <div class="jumbotron ">
                    <h1 class="display-4">Check For Id</h1>
                    <p class="lead">Check For Patient Id </p>
                    <hr class="my-4">
                    <form  action="{% url 'checkpatientid' %}" method="GET" class="form-group">
            
                        <input type="search" autocomplete="off" name='checkpatientid' 
                        value="{{request.GET.checkpatientid}}" class="form-control" placeholder='Search for Patient' >
                        <button class="btn btn-danger mt-2 mb-4">Check Patient ID</button>

                        <div>
                            <div>
       
                                {% for message in messages %}
                                <div class="row">
                                    <div class="col-8"> <li style="color: red;"> {{message}} </li></div>
                                         
                                </div>
                            
                                {% endfor %}
                            </div>
                            {% if found %}
            
                            {% for founds in found %}
        
                                <p><b>Patient Id : </b>{{founds.id}}</a> </p> 
                                <p><b>Patient Name : </b> {{founds.name}}</p>
                                
                            
                                <p><b>Phone Number : </b>{{founds.phone_number}}</p> 
                            
                                <p><b>Patient Doctor : </b>{{founds.doctor}}</p> <br>
        
                                {% endfor %}
                            {% endif %}
     
                        </div>
                    </div>
                    

                    
                  </div>
            </div>
        </div>
    </div>

    
    
    
</body>
</html>